/* src/styles/_mixins.scss */

@mixin neumorphism-outset($radius: 12px, $distance: 5px) {
  border-radius: $radius;
  background: var(--primary-bg-color);
  box-shadow: $distance $distance ($distance * 2) var(--dark-shadow-color),
              (-$distance) (-$distance) ($distance * 2) var(--light-shadow-color);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

@mixin neumorphism-inset($radius: 12px, $distance: 5px) {
  border-radius: $radius;
  background: var(--primary-bg-color);
  box-shadow: inset $distance $distance ($distance * 2) var(--dark-shadow-color),
              inset (-$distance) (-$distance) ($distance * 2) var(--light-shadow-color);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}